<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.xiaomi.pad5pro.settings"
        android:versionCode="1"
        android:versionName="1.0">
        <application android:extractNativeLibs="false"/>
        <overlay android:targetPackage="com.android.settings"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+*iaomi/elish*"
		android:priority="915"
		android:isStatic="true" />
</manifest>
